body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    background: #222;
    border: 2px solid #444;
    border-radius: 10px;
}
